{
  "USERNAME": "**Replace with Linkedin username here**",
  "PASSWORD": "**Replace with Linkedin password here**",
  "GOOGLE_SHEET_ID": "***REPLACE_THIS_WITH_GOOGLE_SHEET_ID_FOR_EXAMPLE_1wbXRXOo7jmVbuVmABCDEFF62gjMAhj02RUAsvccU***",
  "TIMEOUT_PER_LINK": 3000
}